.nm-card{
    background: linear-gradient(145deg,#fff,#bbcee1);
    box-shadow: .4em .4em .8em #99b5d2,-.4em -.4em .8em #fff;
    border-radius: .5rem;
  }

  .nm-flat-gray-200 {
    background: rgb(226 232 240);
    box-shadow: .2em .2em .4em #99b5d2,-.2em -.2em .4em #fff;
  }

  .ease-in-out {
	transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.transition {
	transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
}
.transform {
	--transform-translate-x: 0;
	--transform-translate-y: 0;
	--transform-rotate: 0;
	--transform-skew-x: 0;
	--transform-skew-y: 0;
	--transform-scale-x: 1;
	--transform-scale-y: 1;
	transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}